<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> </p>
    <div class="card-deck">
      <div class="card">
        <img src="images/photo one star.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bungalow 1</h5>
          <p class="card-text">The space
            Situated on Paradise Island, Bahamas in a residential neighborhood this comfortable one bedroom one bath apartment has living, dining, and kitchen features that will be your home away from home. We are located within a multi-unit communal space, with sixteen units. We are located in the front building, on the second floor (two floors) Unit#15. The complex surrounds a nature pool, and a five minute walk from Cabbage Beach which is a lovely two mile sandy beach; walking distance (ten minutes) to the renowned Atlantis Resorts. There is shopping, casino gambling and a wide array of restaurants located at the Marina Village and you can buy day passes to enjoy the Atlantis Waterpark nearby. Just over the bridge there is Potter's Cay (fifteen minutes) where you can find more local cuisine during the daytime. Downtown Nassau is another ten minutes away if you want to visit the World Famous Straw Market and other historical and cultural sites. You can choose your experience of either being immersed in the amenities of the nearby resorts or take a catamaran cruise to a nearby island, or simply have a quiet relaxing day at the poolside.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
         <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </body>
</html>
